In [2]:
import pandas as pd

tb_prod = pd.read_csv("../data/raw/dim_products.csv")
tb_prod.head()

,product_id,product_name,category,subcategory,brand,season,size,color,cost_price,list_price,target_margin_pct
0,1,Remera Básica Prototype Bordó,Remeras,Remera Básica,Prototype,Todo el año,S,Bordó,1101,1430,23
1,2,Remera Estampada Kosiuko Amarillo,Remeras,Remera Estampada,Kosiuko,Otoño,XL,Amarillo,1632,1990,18
2,3,Crop Top Prototype Bordó,Remeras,Crop Top,Prototype,Primavera,XL,Bordó,1008,1200,16
3,4,Remera Premium Kosiuko Beige,Remeras,Remera Premium,Kosiuko,Verano,M,Beige,859,1130,24
4,5,Musculosa Luna Negro,Remeras,Musculosa,Luna,Todo el año,L,Negro,1103,1470,25

In [4]:
tb_prod.isnull().sum()

product_id           0
product_name         0
category             0
subcategory          0
brand                0
season               0
size                 0
color                0
cost_price           0
list_price           0
target_margin_pct    0
dtype: int64

In [3]:
tb_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         250 non-null    int64
 1   product_name       250 non-null    object
 2   category           250 non-null    object
 3   subcategory        250 non-null    object
 4   brand              250 non-null    object
 5   season             250 non-null    object
 6   size               250 non-null    object
 7   color              250 non-null    object
 8   cost_price         250 non-null    int64
 9   list_price         250 non-null    int64
 10  target_margin_pct  250 non-null    int64
dtypes: int64(4), object(7)
memory usage: 21.6+ KB

In [5]:
tb_prod['product_id'].duplicated().sum()

np.int64(0)

In [6]:
tb_prod.head()

,product_id,product_name,category,subcategory,brand,season,size,color,cost_price,list_price,target_margin_pct
0,1,Remera Básica Prototype Bordó,Remeras,Remera Básica,Prototype,Todo el año,S,Bordó,1101,1430,23
1,2,Remera Estampada Kosiuko Amarillo,Remeras,Remera Estampada,Kosiuko,Otoño,XL,Amarillo,1632,1990,18
2,3,Crop Top Prototype Bordó,Remeras,Crop Top,Prototype,Primavera,XL,Bordó,1008,1200,16
3,4,Remera Premium Kosiuko Beige,Remeras,Remera Premium,Kosiuko,Verano,M,Beige,859,1130,24
4,5,Musculosa Luna Negro,Remeras,Musculosa,Luna,Todo el año,L,Negro,1103,1470,25

In [ ]:
tb_prod['product_name'].value_counts()

color
Bordó       23
Beige       23
Rojo        22
Negro       20
Blanco      20
Violeta     20
Camel       19
Azul        19
Celeste     16
Rosa        16
Gris        15
Naranja     14
Amarillo    12
Verde       11
Name: count, dtype: int64

In [13]:
tb_prod['category'].value_counts()

category
Remeras       70
Pantalones    60
Vestidos      50
Faldas        40
Accesorios    30
Name: count, dtype: int64

In [ ]:
tb_prod['subcategory'].value_counts()

subcategory
Remera Básica       16
Musculosa           15
Remera Estampada    13
Crop Top            13
Remera Premium      13
Pantalón Jogger     12
Vestido Fiesta      12
Falda Mini          11
Pantalón Cargo      11
Jean Skinny         10
Vestido Largo       10
Vestido Midi        10
Vestido Corto       10
Jean Mom             9
Jean Recto           9
Pantalón Vestir      9
Falda Lápiz          9
Vestido Casual       8
Falda Midi           7
Falda Larga          7
Billetera            7
Pulsera              7
Falda Plisada        6
Aros                 5
Pañuelo              5
Cinturón             4
Cartera              2
Name: count, dtype: int64

In [10]:
tb_prod['brand'].value_counts()

brand
Vero         34
Uma          30
Mishka       27
Luna         27
Zafiro       23
Prototype    23
Paruolo      23
Taverniti    23
Mango        22
Kosiuko      18
Name: count, dtype: int64

In [9]:
tb_prod['color'].value_counts()

color
Bordó       23
Beige       23
Rojo        22
Negro       20
Blanco      20
Violeta     20
Camel       19
Azul        19
Celeste     16
Rosa        16
Gris        15
Naranja     14
Amarillo    12
Verde       11
Name: count, dtype: int64

In [15]:
tb_prod['size'].value_counts()
tb_prod['size'].unique()

array(['S', 'XL', 'M', 'L', 'XS', 'Único'], dtype=object)

In [16]:
tb_prod[['cost_price', 'list_price']].describe()

        cost_price   list_price
count   250.000000   250.000000
mean   1513.712000  2336.800000
std     616.193214  1028.961812
min     387.000000   810.000000
25%    1030.750000  1592.500000
50%    1414.000000  2095.000000
75%    1916.000000  3000.000000
max    3081.000000  4980.000000

In [18]:
tb_prod[tb_prod['list_price']<tb_prod['cost_price']]

Empty DataFrame
Columns: [product_id, product_name, category, subcategory, brand, season, size, color, cost_price, list_price, target_margin_pct]
Index: []