In [1]:
import pandas as pd

tb_date = pd.read_csv('../data/raw/dim_customers.csv')
tb_date.head()

   customer_id       customer_name    segment  age            city  country
0            1  Valentina Silveira  Ocasional   36  Punta del Este  Uruguay
1            2   Mariana Umpiérrez    Regular   47     Las Piedras  Uruguay
2            3       Mercedes Ruiz  Ocasional   33  Punta del Este  Uruguay
3            4        Rosa Aguirre    Regular   49       Canelones  Uruguay
4            5      Bianca Pereyra  Ocasional   55           Salto  Uruguay

In [2]:
tb_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    5000 non-null   int64
 1   customer_name  5000 non-null   object
 2   segment        5000 non-null   object
 3   age            5000 non-null   int64
 4   city           5000 non-null   object
 5   country        5000 non-null   object
dtypes: int64(2), object(4)
memory usage: 234.5+ KB

In [3]:
tb_date.isnull().sum()

customer_id      0
customer_name    0
segment          0
age              0
city             0
country          0
dtype: int64

In [8]:
tb_date['customer_id'].duplicated().sum()

np.int64(0)

In [9]:
tb_date['customer_name'].duplicated().sum()

np.int64(0)