In [1]:
import pandas as pd

In [2]:
tb_in = pd.read_csv('../data/raw/inventory_snapshot.csv')
tb_in.head()

  snapshot_date  product_id  store_id  stock_qty
0    2023-01-31           1         1         13
1    2023-01-31           1         2         12
2    2023-01-31           1         3         13
3    2023-01-31           1         4         16
4    2023-01-31           2         1         11

In [3]:
tb_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   snapshot_date  24000 non-null  object
 1   product_id     24000 non-null  int64
 2   store_id       24000 non-null  int64
 3   stock_qty      24000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 750.1+ KB

In [4]:
tb_in['snapshot_date'].duplicated().sum()

np.int64(23976)

In [5]:
tb_in['snapshot_date'].value_counts()

snapshot_date
2023-01-31    1000
2023-02-28    1000
2023-03-31    1000
2023-04-30    1000
2023-05-31    1000
2023-06-30    1000
2023-07-31    1000
2023-08-31    1000
2023-09-30    1000
2023-10-31    1000
2023-11-30    1000
2023-12-31    1000
2024-01-31    1000
2024-02-29    1000
2024-03-31    1000
2024-04-30    1000
2024-05-31    1000
2024-06-30    1000
2024-07-31    1000
2024-08-31    1000
2024-09-30    1000
2024-10-31    1000
2024-11-30    1000
2024-12-31    1000
Name: count, dtype: int64

In [7]:
tb_in.duplicated(subset=['snapshot_date','product_id','store_id']).sum()

np.int64(0)

In [9]:
(tb_in['stock_qty']<= 0).sum()

np.int64(45)

In [11]:
tb_in[tb_in['stock_qty']<=0]

      snapshot_date  product_id  store_id  stock_qty
16       2023-01-31           5         1          0
96       2023-01-31          25         1          0
109      2023-01-31          28         2          0
2167     2023-03-31          42         4          0
2171     2023-03-31          43         4          0
3136     2023-04-30          35         1          0
3167     2023-04-30          42         4          0
3216     2023-04-30          55         1          0
4040     2023-05-31          11         1          0
4166     2023-05-31          42         3          0
5101     2023-06-30          26         2          0
5187     2023-06-30          47         4          0
5234     2023-06-30          59         3          0
6015     2023-07-31           4         4          0
6035     2023-07-31           9         4          0
6090     2023-07-31          23         3          0
7094     2023-08-31          24         3          0
8083     2023-09-30          21         4          0
8094     2023-09-30          24         3          0
8222     2023-09-30          56         3          0
9018     2023-10-31           5         3          0
9029     2023-10-31           8         2          0
9161     2023-10-31          41         2          0
9166     2023-10-31          42         3          0
9203     2023-10-31          51         4          0
10193    2023-11-30          49         2          0
11008    2023-12-31           3         1          0
12272    2024-01-31          69         1          0
13178    2024-02-29          45         3          0
13247    2024-02-29          62         4          0
14039    2024-03-31          10         4          0
14129    2024-03-31          33         2          0
15081    2024-04-30          21         2          0
15216    2024-04-30          55         1          0
17000    2024-06-30           1         1          0
17175    2024-06-30          44         4          0
18084    2024-07-31          22         1          0
19030    2024-08-31           8         3          0
20013    2024-09-30           4         2          0
20060    2024-09-30          16         1          0
21235    2024-10-31          59         4          0
22051    2024-11-30          13         4          0
23034    2024-12-31           9         3          0
23101    2024-12-31          26         2          0
23105    2024-12-31          27         2          0

### Observaciones

- Se debe modificar el snapshot_date a formato fecha.