In [1]:
import pandas as pd

df_tx = pd.read_csv("../data/raw/sales_transactions.csv")
df_tx.head()

,transaction_id,transaction_date,store_id,customer_id,channel,payment_method
0,1,2024-07-08,2,2989,Physical,Tarjeta Crédito
1,2,2023-08-29,2,2000,Physical,Transferencia
2,3,2023-08-17,3,437,Physical,Tarjeta Crédito
3,4,2023-11-14,4,4571,Online,Mercado Pago
4,5,2024-10-28,4,2476,Online,Tarjeta Crédito

In [3]:
df_tx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    10000 non-null  int64
 1   transaction_date  10000 non-null  object
 2   store_id          10000 non-null  int64
 3   customer_id       10000 non-null  int64
 4   channel           10000 non-null  object
 5   payment_method    10000 non-null  object
dtypes: int64(3), object(3)
memory usage: 468.9+ KB

## Observaciones EDA - sales_transactions

- `transaction_date` está en formato texto (object). Para análisis por tiempo, se debe convertir a datetime en la etapa de limpieza.
- No hay valores nulos en las columnas inspeccionadas (10.000 filas completas).
- `channel` y `payment_method` son categóricas; conviene revisar distribución y posibles valores raros en la limpieza.
- `store_id` y `customer_id` son claves numéricas; se usarán para joins con dimensiones.

In [4]:
df_tx.isnull().sum()

transaction_id      0
transaction_date    0
store_id            0
customer_id         0
channel             0
payment_method      0
dtype: int64

In [5]:
df_tx['channel'].value_counts()

channel
Physical    6048
Online      3952
Name: count, dtype: int64

In [6]:
df_tx['payment_method'].value_counts()

payment_method
Tarjeta Crédito    4521
Tarjeta Débito     2473
Efectivo           1477
Mercado Pago        988
Transferencia       541
Name: count, dtype: int64

In [7]:
df_tx.groupby(['channel', 'payment_method']).size()

channel   payment_method
Online    Efectivo            600
          Mercado Pago        373
          Tarjeta Crédito    1801
          Tarjeta Débito      964
          Transferencia       214
Physical  Efectivo            877
          Mercado Pago        615
          Tarjeta Crédito    2720
          Tarjeta Débito     1509
          Transferencia       327
dtype: int64