In [1]:
import pandas as pd

df_items = pd.read_csv("../data/raw/sales_items.csv")
df_items.head()

   transaction_id  product_id  quantity  unit_price  discount_pct  cost_price
0               1          69         1        1990             0        1552
1               1          47         1         810             0         616
2               2         118         1        3130             0        2254
3               2          21         1        1755            10        1619
4               3           5         1        1470             0        1103

In [2]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20299 entries, 0 to 20298
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  20299 non-null  int64
 1   product_id      20299 non-null  int64
 2   quantity        20299 non-null  int64
 3   unit_price      20299 non-null  int64
 4   discount_pct    20299 non-null  int64
 5   cost_price      20299 non-null  int64
dtypes: int64(6)
memory usage: 951.6 KB

In [3]:

df_items.isnull().sum()

transaction_id    0
product_id        0
quantity          0
unit_price        0
discount_pct      0
cost_price        0
dtype: int64

In [4]:
df_items[df_items['quantity'] <= 0]

Empty DataFrame
Columns: [transaction_id, product_id, quantity, unit_price, discount_pct, cost_price]
Index: []

In [5]:
df_items[(df_items['unit_price'] <= 0) | (df_items['cost_price'] <= 0)]

Empty DataFrame
Columns: [transaction_id, product_id, quantity, unit_price, discount_pct, cost_price]
Index: []

In [6]:
df_items[df_items['cost_price'] > df_items['unit_price']]

,transaction_id,product_id,quantity,unit_price,discount_pct,cost_price
284,131,6,1,1336,20,1403
439,207,44,1,680,20,689
735,351,54,1,1400,20,1453
910,438,65,2,832,20,842
1466,701,43,1,656,20,672
...,...,...,...,...,...,...
18846,9272,58,1,912,20,946
19213,9457,49,1,816,20,857
19348,9521,68,1,872,20,916
19478,9589,9,1,936,20,948
20118,9907,65,1,832,20,842

In [7]:
df_items[(df_items['discount_pct'] < 0) | (df_items['discount_pct'] > 100)]

Empty DataFrame
Columns: [transaction_id, product_id, quantity, unit_price, discount_pct, cost_price]
Index: []

In [8]:
df_items.duplicated(subset=['transaction_id','product_id']).sum()

np.int64(0)

## Observaciones pre-limpieza - sales_items
- No se encontraron quantities <= 0 → OK.
- No se encontraron precios <= 0 → OK.
- No se encontraron descuentos fuera de rango → OK.
- Se detectaron casos donde cost_price > unit_price → revisar si son errores o ventas con pérdida.
- Revisar duplicados por (transaction_id, product_id).