In [1]:
import pandas as pd

In [2]:
tb_stores = pd.read_csv('../data/raw/dim_stores.csv')
tb_stores.head()

   store_id                  store_name            city  country   channel
0         1  Boutique Montevideo Centro      Montevideo  Uruguay  Physical
1         2     Boutique Punta del Este  Punta del Este  Uruguay  Physical
2         3          Boutique Maldonado       Maldonado  Uruguay  Physical
3         4               Tienda Online      Montevideo  Uruguay    Online

In [3]:
tb_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_id    4 non-null      int64
 1   store_name  4 non-null      object
 2   city        4 non-null      object
 3   country     4 non-null      object
 4   channel     4 non-null      object
dtypes: int64(1), object(4)
memory usage: 292.0+ bytes