In [1]:
import pandas as pd

In [9]:
import os 
os.getcwd()

'c:\\JairoProyects\\data\\BARIT\\Proyecto_muestra\\etl\\extract'

In [11]:
import os
os.listdir("..")

['extract', 'load', 'transform']

In [12]:
df = pd.read_csv("../../data/raw/dim_products.csv")
df.head()

,product_id,product_name,category,subcategory,brand,season,size,color,cost_price,list_price,target_margin_pct
0,1,Remera Básica Prototype Bordó,Remeras,Remera Básica,Prototype,Todo el año,S,Bordó,1101,1430,23
1,2,Remera Estampada Kosiuko Amarillo,Remeras,Remera Estampada,Kosiuko,Otoño,XL,Amarillo,1632,1990,18
2,3,Crop Top Prototype Bordó,Remeras,Crop Top,Prototype,Primavera,XL,Bordó,1008,1200,16
3,4,Remera Premium Kosiuko Beige,Remeras,Remera Premium,Kosiuko,Verano,M,Beige,859,1130,24
4,5,Musculosa Luna Negro,Remeras,Musculosa,Luna,Todo el año,L,Negro,1103,1470,25

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         250 non-null    int64
 1   product_name       250 non-null    object
 2   category           250 non-null    object
 3   subcategory        250 non-null    object
 4   brand              250 non-null    object
 5   season             250 non-null    object
 6   size               250 non-null    object
 7   color              250 non-null    object
 8   cost_price         250 non-null    int64
 9   list_price         250 non-null    int64
 10  target_margin_pct  250 non-null    int64
dtypes: int64(4), object(7)
memory usage: 21.6+ KB

In [14]:
df = pd.read_csv("../../data/raw/dim_date.csv")
df.head()

   date_id        date  year  month month_name  week  quarter
0        1  2023-01-01  2023      1      Enero     1        1
1        2  2023-01-02  2023      1      Enero     1        1
2        3  2023-01-03  2023      1      Enero     1        1
3        4  2023-01-04  2023      1      Enero     1        1
4        5  2023-01-05  2023      1      Enero     1        1

In [15]:
df = pd.read_csv("../../data/raw/dim_stores.csv")
df.head()

   store_id                  store_name            city  country   channel
0         1  Boutique Montevideo Centro      Montevideo  Uruguay  Physical
1         2     Boutique Punta del Este  Punta del Este  Uruguay  Physical
2         3          Boutique Maldonado       Maldonado  Uruguay  Physical
3         4               Tienda Online      Montevideo  Uruguay    Online

In [17]:
df = pd.read_csv("../../data/raw/inventory_snapshot.csv")
df.head()

  snapshot_date  product_id  store_id  stock_qty
0    2023-01-31           1         1         13
1    2023-01-31           1         2         12
2    2023-01-31           1         3         13
3    2023-01-31           1         4         16
4    2023-01-31           2         1         11

In [19]:
df = pd.read_csv("../../data/raw/sales_items.csv")
df.head()

   transaction_id  product_id  quantity  unit_price  discount_pct  cost_price
0               1          69         1        1990             0        1552
1               1          47         1         810             0         616
2               2         118         1        3130             0        2254
3               2          21         1        1755            10        1619
4               3           5         1        1470             0        1103

In [20]:
df = pd.read_csv("../../data/raw/sales_transactions.csv")
df.head()

,transaction_id,transaction_date,store_id,customer_id,channel,payment_method
0,1,2024-07-08,2,2989,Physical,Tarjeta Crédito
1,2,2023-08-29,2,2000,Physical,Transferencia
2,3,2023-08-17,3,437,Physical,Tarjeta Crédito
3,4,2023-11-14,4,4571,Online,Mercado Pago
4,5,2024-10-28,4,2476,Online,Tarjeta Crédito